@font-face{
  font-family: 'polic';
src: url('font/Hello Valentina.ttf') format('TrueType');
}
@font-face{
  font-family: 'font';
src: url('font/Mbkaos.ttf') format('TrueType');
}


#cy {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-color: #11101d*/
}
/*[label~=node]{background-color: red;}
#cy.node{
  background-color: #0400fa;
}*/
 /* Sidebar Styles */
  
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: "Poppins" , sans-serif;*/
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 10%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

/* BEGIN CSS de MODAL*/
/* input de  modal*/
.input{
  background-color:rgba(11, 4, 39, 0.959) ;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}
/* boutton enrigestrer modification -modal*/

#soumettre, #annuler, #fermer , #btnAdd{ 
  position: relative;
  display: inline-block;
  padding: 10px 10px;
  margin-top: 5px;
  margin-left: 100px;

  /*margin-right: 80px;*/
  margin-bottom: 15px;
  color: #0400fa;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 2px;
  overflow: hidden;
  text-align: center;


  /*font-size: 15px;
  display: inline-block;
  margin-top: 15px;
  padding: 10px 10px;
  border-radius: 3px;
  transition: all 1s;
 /* font-family: 'font';
  color: white;  
  /*background:  linear-gradient(rgba(2, 2, 63, 0.842));
  margin-left: 80px;
  background-color: #76759ec5 ;
  border: white solid 2px;
  text-align: center;*/
}
#soumettre:hover, #annuler:hover, #fermer:hover, #btnAdd:hover{
  background: #081875;
  color: #fff;
  box-shadow: 0 0 5px #0b0338,
              0 0 10px #d4dbdb,
              0 0 20px #e2ded9,
              0 0 10px #f8f5f3;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}/*
a:nth-child(1){
  filter: hue-rotate(270deg);
}
a:nth-child(2){
  filter: hue-rotate(110deg);
}
a span{
  position: absolute;
  display: block;
}
a span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#04033f);
  animation: animate1 1s linear infinite;
}
  */
  
  
  /*
  color:rgba(2, 2, 63, 0.842);
	text-decoration: none;*/

/* les champs de modal*/
.champs{
  padding-bottom: 10px; 
  padding-top: 8px;  
  font-family: 'font';
  font-style: bold;
  color: white; 
  font-size: 18px;
}
/*   */
#newLabel, #newInput{
  background-color:rgba(11, 4, 39, 0.959) ;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}

.modal, .modal2 {
  justify-self: right;
  justify-content: space-between;
  z-index: 1;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 0;

  /*margin-left: 800px;*/
  width: 30%;
  height: 100%;
  display: none; 
  position: fixed; 
  z-index: 1; 
  overflow: auto; 
 /* background-color: rgba(77, 5, 5, 0.904); */
 font-style: 'polic'; 
 border-color: black;
 right: 0;

  background-color: rgba(11, 4, 39, 0.959);
/*  box-shadow: inset 0 0 1em rgba(0, 47, 255, 0.438);*/
} 

/*
.linear-gradient {
  background: linear-gradient( rgb(2, 2, 63),white , rgb(2, 2, 63) );
}*/

 .close {
  color:white;
  float: right;
  font-size: 30px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
/* le titre de modal*/
#titre, #titre2{font-family: polic; font-size: 40px; color: white; margin-left: 100px; text-align: centre;} 

/* menu context */

#context-menu {
  position:fixed;
  z-index:10000;
  width:200px;
  background:#1b1a1a;
  border-radius:5px;
  transform:scale(0);
  transform-origin:top left;
}
#context-menu.active {
  transform:scale(1);
  transition:transform 300ms ease-in-out;
}
#context-menu .item {
  padding:8px 10px;
  font-size:15px;
  color:#eee;
}
#context-menu .item:hover {
  background:#555;
}
#context-menu .item i {
  display:inline-block;
  margin-right:5px;
}
#context-menu hr {
  margin:2px 0px;
  border-color:#555;
}


